<%- include("partials/headers.ejs") %>

<main class="container">

    <div class="p-4 p-md-5 mb-4 mt-4 ">

        <div class="row mb-2 justify-content-center">
            <div class="col-md-8">
              <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static teal">
                  <h1 class="fst-italic mb-5">Meet the face
                    behind the posts</h1>
                  <p class="card-text mb-auto">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
                    ​</p><p>
                    This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
                  <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                  </a>
                </div>
                <div class="col-auto d-none d-lg-block teal">
                    <img src="/images/image1.jpg" width="250" height="250" style="object-fit: cover; border-radius: 0px 5px;" alt="...">
                  </div>
              </div>
            </div>
        </div>
    </div>
</main>

<%- include("partials/footers.ejs") %>