.navy {
    background-color: #2E5077;
}

.blue {
    background-color: #4DA1A9;
}

.teal {
    background-color: #79D7BE;
}

.mint {
    background-color: #F6F4F0;
}

.text-navy {
    color: #2E5077;
}

.text-blue {
    color: #4DA1A9;
}

.text-teal {
    color: #79D7BE;
}

.text-mint {
    color: #F6F4F0;
}